@model IEnumerable<Bengo.Models.Kana>

@{
    ViewBag.Title = "Kana";
}

<h2>Kana</h2>

<p>
    @Html.ActionLink("Create New", "Create", "Kana")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Letter)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Reading)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Letter)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Reading)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
