@model IEnumerable<Bengo.ViewModels.TextViewModel>
@{
    ViewBag.Title = "Index";
}

@foreach (var item in Model)
{
<div style="border:solid; margin:5px; padding:5px;">
    <h3>@item.Title</h3>
    <br />
    <b>Vocabulary percentage:</b> @Math.Round(item.VocabularyPercentage)%  <b>Grammar percentage:</b> @Math.Round(item.GrammarPercentage)% @{
        if (item.ForLearningKana)
        {
            <b>Kana percentage:</b> @Math.Round(item.KanaPercentage) <span>%</span>
        }
        else
        {
            <b>Kanji percentage:</b> @Math.Round(item.KanjiPercentage) <span>%</span>
        }

    }
    <br />
    @{
        if (item.GoalID == ViewBag.GoalID)
        {
            @Html.ActionLink("Set as goal", "SetGoal", new { goalID = item.GoalID }, new { @class = "btn btn-primary", @style = "display:none;" })
        }
        else
        {
            @Html.ActionLink("Set as goal", "SetGoal", new { goalID = item.GoalID }, new { @class = "btn btn-primary", @style = "display:inline;" })
        }
    }

    @Html.ActionLink("Read", "Text", new { textID=item.GoalID}, new { @class = "btn btn-primary" })


</div>
}

