
@{
    ViewBag.Title = "Index";
}

<div class="row">
    @Html.ActionLink("Vocabulary", "Index", "Vocabulary", new { area = "" }, new { @class = "btn btn-primary", @style = "margin: 5px;" })
</div>

<div class="row">
    @Html.ActionLink("Grammar", "Index", "Grammar", new { area = "" }, new { @class = "btn btn-primary", @style = "margin: 5px;" })
</div>

<div class="row">
    @Html.ActionLink("Kana", "Index", "Kanas", new { area = "" }, new { @class = "btn btn-primary", @style = "margin: 5px;" })
</div>

<div class="row">
    @Html.ActionLink("Kanji", "Index", "Kanji", new { area = "" }, new { @class = "btn btn-primary", @style = "margin: 5px;" })
</div>

<div class="row">
    @Html.ActionLink("Texts", "Index", "Text", new { area = "" }, new { @class = "btn btn-primary", @style = "margin: 5px;" })
</div>