@model IEnumerable<Bengo.Models.Vocabulary>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Category.CategoryName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VocabularyUnit)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Kana)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Romaji)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Meaning)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.POS)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Category.CategoryName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.VocabularyUnit)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Kana)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Romaji)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Meaning)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.POS)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
